@font-face
{
    font-family: 'EncodeSans-Black';
    src: url('../fuentes/EncodeSans-Black.ttf');   
}

@font-face
{
    font-family: 'EncodeSans-Bold';
    src: url('../fuentes/EncodeSans-Bold.ttf');   
}
@font-face
{
    font-family: 'EncodeSans-ExtraBold';
    src: url('../fuentes/EncodeSans-ExtraBold.ttf');   
}
@font-face
{
    font-family: 'EncodeSans-Regular';
    src: url('../fuentes/EncodeSans-Regular.ttf');   
}
@font-face
{
    font-family: 'EncodeSans-Light';
    src: url('../fuentes/EncodeSans-Light.ttf');   
}

html, body {height: 100%}
section{height:85%}

.colorGrisHeader{color: #E3E3E3}
.bgGrisHeader{background-color: #E3E3E3}

.colorTurquesa{color: #47baec}
.BGTurquesa{background-color: #47baec}

.colorBlanco{
    color: #fff;
}

.manitosArriba{background-image: url(../img/manitosArriba.svg); 
background-repeat: no-repeat; background-size: 100% auto;}
.subT2{font-family:'EncodeSans-Bold'; font-size: 1.625rem; 
line-height: 2.188rem;  }

.logoMinisterio{  max-height: 4.688rem; }
.logoTM{ max-height: 5.313rem; }

.parrafoSubti{font-family:'EncodeSans-Bold'; font-size:1.375rem; line-height: 30px }
.textoInput{font-family: 'EncodeSans-Light'; font-size: 0.875rem; }
.olvide a{color: #fff !important; font-family: 'EncodeSans-Regular';
font-size: 0.875rem;}
.olvide a:hover{text-transform: underline}
.entrar{ width: 100%; background-color: #e3e3e3; border-color: #e3e3e3; 
	color: #34B0A8; font-weight: bold; border-radius: 1.563rem}
.entrar:hover, .entrar:active, .entrar:focus{background-color: #CEC8E3; border-color:#CEC8E3; color: #34B0A8;}

.form-control {   
    padding: 0.75rem 0.75rem;    
}
.parrafoPrimeraVez{ font-size: 1.251rem; }
.crearUsuario{ width: 100%; background-color: #9283be; border-color: #9283be; 
	color: #fff; font-weight: bold; border-radius: 1.563rem}
.crearUsuario:hover, .crearUsuario:active, .crearUsuario:focus{background-color: #ff7a9b; border-color:#ff7a9b; color: #fff;}


#login{ 
background-size:cover; background-repeat: no-repeat;
 background-position:center bottom;}


@media (max-width: 768px) {

.subT2{
    font-size: 1.063rem;
    line-height: 1.2rem;
   max-width: 90%;
    margin:auto;
 }
 .textoInput{
    font-size: 1.1rem;
    box-shadow: 3px 3px 4px rgba(0,0,0,0.3);
 }
 .input2{margin-top: 3.2rem}
 .olvide a {
  
    font-size: 1rem;
}
#login{
    background-size:cover; background-repeat: no-repeat;
     background-position:center top;}
    }
    
    .logoTM-header{
        background-image: url(../img/TejiendoMatria.png);
        background-size: 8rem;
        background-repeat: no-repeat;
        background-position: right;
        margin-right: 1rem;
        height: 5rem;
        width: 20%;
    }

    .logoMinisterio-header{
        background-image: url(../img/Logo-Ministerio-web.png);
        background-size: 15rem;
        background-repeat: no-repeat;
        background-position: center;
        margin-right: 1rem;
        height: 5rem;
        width: 23%;
    }
    
    .header-content-wrapper{
        width: 100%;
        height: 5rem;
        background-color: #DFDFDF;
        padding: 0rem;
        display: flex;
        justify-content: space-between;
    }
    
    .content-body{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    
    .title-body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
    }
    
    .position-left-hand-up{
        background-image: url(../img/izquierda-superior.png);
        background-size: 5rem;
        background-repeat: no-repeat;
        background-position: right;
        width: 20%;
        height: 9.5rem;
    }
    
    .position-right-hand-up{
        background-image: url(../img/derecha-superior.png);
        background-size: 6rem;
        background-repeat: no-repeat;
        width: 20%;
        height: 9.5rem;
    }
    
    .position-left-hand-down{
        background-image: url(../img/izquierda-inferior.png);
        background-size: 5rem;
        background-repeat: no-repeat;
        background-position: right;
        background-position-y: bottom;
        width: 32%;
        height: 11.77rem;
    }
    
    .position-right-hand-down{
        background-image: url(../img/derecha-inferior.png);
        background-size: 5rem;
        background-repeat: no-repeat;
        background-position-y: bottom;
        width: 20%;
        height: 11.77rem;
    }
    
    .content-bg-hands{
        display: flex;
        width: 90%;
        align-items: center;
        justify-content: space-between;
    }
    .tm-logo-D-hidden{
        background-image: url(../img/TejiendoMatriaMobile.png);
        background-size: 8rem;
        background-repeat: no-repeat;
        width: 50%;
        height: 5rem;
    }

    .font-color-register-button{
        color: #e3e3e3;
    }
    @media(min-width: 576px){
        .tm-logo-D-hidden{
            display: none;
        }
    }

    @media (max-width: 575px){
        .logoTM-header{
            display: none;
        }

        .logoMinisterio-header{
            width: 100%;
            background-image: url(../img/logo-ministerio-mobile.png);
            background-size: 19.95rem;
        }
    }

    .align-title{
        width: 50%;
    }

   /* 
La propiedadd appearance da un aspecto standard a un elemento.
Por ejemplo: appearance: button
Como vamos a personalizar nuestros elemento aÃ±adimos el valor none
 */
.content-input input,
.content-select select{
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}


.content-input i,
.content-input i:before{
	transition: all 0.25s ease;
}

/* 
Ocultamos nuestros inputs.
Con opacity 0. Si utilizamos visibility:hidden o display:none;
no funcionarÃ­an
*/
.content-input input{
	visibility: hidden;
	position: absolute;
	right: 0;
}

/*
Propiedades para cualquier el elmento i despuÃ©s de un input
dentro de la capa .content-input
*/
.content-input input + i{
	background: #47baec;
	border:2px solid #fff;
	position: absolute;
	left: 0;
}

/*
Propiedades para radio
*/
.content-input input[type=radio] + i{
	height: 30px;
	width: 30px;
	border-radius: 100%;
	left: 15px;
}

.content-input input[type=radio] + i:before{
	content: '';
	display: block;
	height: 18px;
	width: 18px;
	background: red;
	border-radius: 100%;
	position: absolute;
	z-index: 1;
	top: 4px;
	left: 4px;
	background:#fff;
	transition: all 0.25s ease;
	transform: scale(0);
	opacity: 0; /* Lo ocultamos*/
}

.content-input input[type=radio]:checked + i:before{
	transform: scale(1);
	opacity: 1;
}